body {
  display: flex;
  justify-content: center;
  margin: 0%;
  flex-wrap: wrap;
  background-image: url("images/blackandwhite.jpg");
}

.nav .h1 {
  color: black;
  font-weight: bold;
  font-size: 34px;
  font-family: cursive;
}
